*.iml
.gradle
/local.properties
/priv.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/sqldelight
.DS_Store
/build
/captures
.externalNativeBuild
